html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
header {
    background-color: #FFF;
  }

header li {
    display: inline;
    margin: 0;
    padding: 10px 10px;
}

.right {
    float: right;
}

.img {
    display: block;
    margin-left: 40%;
    margin-right: 50%;
    margin-top: 13%

}

.bar input[type=text] {
    display: block;
    padding: 5px;
    border: 0.5px solid rgb(223, 222, 222);
    margin-right: 400px;
    margin-left: 400px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 17px;
    height: 25px;
    width: 500px;
    box-shadow: 3px 3px 1px rgba(219, 219, 219, 0.514);
}

.search {
  color: darkgrey
  margin: 0;
  padding: 5px 5px;
  text-align: center;
  margin-top: 30px
}

.search a {
    cursor: pointer;
    margin-right: 30px;
    padding: 8px 18px;
    background-color: #cccaca75;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    position: relative;
    font-size: 12px;
    color: rgb(145, 144, 144);

}


.search a:active {
    top: 2px;
}

footer {
    background-color: rgba(212, 208, 208, 0.507);
    position: absolute;
    bottom: 0;
    width: 100%;
    color: rgb(153, 152, 152);
}

footer li{
    display: inline;
    margin: 0;
    padding: 0px 10px;
}

